---
import { web_archive } from "@lib/util";
import type { Temporal } from "temporal-polyfill";
interface Props {
    url: string;
    latest_date?: Temporal.PlainDate;
}

const { url, latest_date } = Astro.props;
---

<a href={web_archive(url, latest_date)}><slot /></a>
