{% extends "layouts/page.html.j2" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
  <p>Compared to the {{ crawl_dates.prev_crawl }} crawl.

  <p>All pages are under <code>https://www.portland.gov/</code>.

  <ul>
    {% for item in pages().pages %}
    <li>{% if item.diff %}<details><summary>{%endif%}<a href="{{item.page}}">{{item.page | without_origin}}</a>
      [<a href="{{item.page | web_archive(archive_date)}}">Archive</a>]{% if item.diff %}</summary>

        <div class="diff">{{item.diff|render_diff}}</div>
        </details>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}}
