{% extends "layouts/page.html.j2" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
  <p>Compared to the {{ crawl_dates.prev_crawl }} crawl.

  <p>All pages are under <code>https://www.portland.gov/</code>.

  <ul>
    {% for item in pages().pages %}
    <li><a href="{{item.page}}">{{item.page | without_origin}}</a> [{% if old_archive %}<a
        href="{{item.page | web_archive(crawl_dates.prev_crawl)}}">{{old_archive}}</a>{% endif %}{%if old_archive and
      new_archive %},
      {%endif%}{% if new_archive %}<a
        href="{{item.page | web_archive(crawl_dates.current_crawl)}}">{{new_archive}}</a>{% endif %}]

      {% if item.diff %}
        <details><summary>Diff</summary>

        <div class="diff">{{item.diff|render_diff}}</div>
        </details>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}}
